html,body{
  width: 100%;
  height: 100%;
}

*{
  margin: 0px;
  padding: 0px;
}
.myclass{
  font: 14px/28px "";
}

.siderbar{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  background: red;
}

button{
  position: relative;
  z-index: 10;
}


.kerwin-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.kerwin-enter.kerwin-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.kerwin-leave {
  opacity: 1;
  transform: translateX(0px);
}

.kerwin-leave.kerwin-leave-active {
  opacity: 0.01;
  transform: translateX(-100%);
  transition: all 300ms ease-in;
}


.example-enter {
  opacity: 0.01;
  transform: translateX(100px);
}

.example-enter.example-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.example-leave {
  opacity: 1;
    transform: translateX(0px);

}

.example-leave.example-leave-active {
  opacity: 0.01;
    transform: translateX(100px);

  transition: all 300ms ease-in;
}


.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.active{
  background:#0f4;
}
.show{
  display:block;
}
.hide{
  display:none;
}