@charset "utf-8";
/* CSS Document */
/*.margin{width:1190px;margin:0 auto;}*/

div{background:url(../img/background.png);width:320px;height:568px;margin:20px auto;position: relative;cursor: none;}

p{position:absolute;right:0;top:10px;}













