<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <%- include("./header.ejs",{kerwinname:"注册页面",isLeftButton:false})%>
    <p>Welcome to regsiter</p>
  </body>
</html>
