<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>a
    <h1>register  child a </h1>
    <p>Welcome to regsiter child a </p>
  </body>
</html>
